ul,
li {
  list-style: none;
}
nav .menu {
  color: black;
  text-decoration: none;
}
.list-main li:first-child {
  background-color: blue;
}
.list-main li:last-child {
  background-color: darkmagenta;
}
.list-main li:nth-child(even) {
  background-color: crimson;
}
.list-main li:nth-child(4n) {
  background-color: forestgreen;
}
input:focus {
  color: green;
}
.menu:hover {
  color: blue;
}
.menu:active {
  color: pink;
}
#first {
  background-color: limegreen;
}
#second {
  background-color: rgb(13, 90, 13);
}
#third {
  background-color: rgb(146, 222, 146);
}
#fourth {
  background-color: rgb(10, 253, 10);
}

/* #first:hover {
  color: blue;
}

#first:active {
  color: pink;
}
#second:hover {
  color: blue;
}
#second:active {
  color: pink;
}
#third:hover {
  color: blue;
}

#third:active {
  color: pink;
}

#fourth:hover {
  color: blue;
}
#fourth:active {
  color: pink;
} */
